[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyarrow = "*"
jsonlines = "*"
"bs4" = "*"
docopt = "*"
python-jsonschema-objects = "*"
lxml = "*"
cufflinks = "*"
ipython = "*"
seaborn = "*"
impresso-commons = {editable = true,git = "https://github.com/impresso/impresso-pycommons.git"}
bokeh = "*"
distributed = "==1.27.1"
dask = {extras = ["dataframe"],version = "*"}
lzma = "*"
pyliblzma = "*"

[dev-packages]
jupyter = "*"
ipdb = "*"
matplotlib = "*"

[requires]
